@import "tailwindcss";


@layer base {

  .row {
    @apply flex flex-wrap w-full
  }

}

@layer components {}

@layer utilities {}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;

}

h2{
       font-family: "Heebo";
}
p{
    font-family: "IBM Plex Sans JP", sans-serif;
    /* color: rgba(0, 0, 0, 0.879); */
}

@media (min-width: 768px) {
  .logo {
    position: relative;
    padding-right: 20px;
  }
}

@media (min-width: 768px) {
  .logo::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 50%;
    background-color: rgb(212, 211, 211);
  }
}

.hero-img::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.103);
  pointer-events: none;
}


.scroll-up {
  transform: translateY(0);
  transition: transform 0.5s ease-out;
}

.scroll-up.active {
  transform: translateY(-20px);
 
}

.scroll-container {
  transition: transform 0.1s linear;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}


.span {
  width: 90%;
  border-top: 2px solid rgba(169, 169, 169, 0.185);

}

.bi {
  margin-right: 12px;
}


.hover-double-line {
  position: relative;
  display: inline-block;
}

.hover-double-line::before,
.hover-double-line::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 250%;
  height: 2px;
  background: #bf1a1a;
  transform: scaleX(0);
  transform-origin: center;
  transition: 0.5s ease;
}

.hover-double-line:hover::before {
  transform: scaleX(1);
  translate: 0 -15px;
}

.hover-double-line:hover::after {
  transform: scaleX(1);
  translate: 0 15px;
}



@keyframes slideBounceRight {
  0% {
    transform: translateX(100%);
  }

  60% {
    transform: translateX(-10px);
  }

  80% {
    transform: translateX(5px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideSmoothLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


@keyframes slideLeftTogether {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-section {
  animation: slideLeftTogether 1.2s ease-out forwards;
}


.parallax-bike {
    transition: transform 0.4s linear;
    will-change: transform;
}

.card-anim,
.card {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.card-anim.show,
.card.show {
    opacity: 1;
    transform: translateY(0);
}

/* /////////////////////////////////// */
.hossein {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.hossein figure {
  position: fixed;
  bottom: -20px;
  right: -15px;
  text-align: center;
}

.hossein figure img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  transition: 0.5s;
  cursor: pointer;

}

.hossein figure img:hover {
  border-radius: 15px;
  transform: scale(1.2);
}


